.primary-button {
    background-color: #1f821a;
    padding: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    border: unset;
    border-radius: 24px;
    width: max-content;
    transition: all 0.3s ease;
}

.primary-button-padding-132 {
    padding-left: 132px;
    padding-right: 132px;
}

.primary-button:hover {
    background-color: #1c610f;
}