<!DOCTYPE html>
<html lang="en-US">

<head>
    <link rel="stylesheet" href="src/views/components/navbar/navbar.css">
</head>

<header class="sticky">
    <div class="navbar" id="myNavbar">
        <nav>
            <img class="diligens-logo" src="assets/logo.svg" alt="Logo" style="height: 80px;">
            <div class="diligens">Diligens</div>
            <div class="rightSection">
                <a class="links" href="#">Services</a>
                <a class="links" href="#">Rooms</a>
                <a class="links" href="#">Stories</a>
                <a class="links" href="#">About Us</a>
                <a class="links" href="#">Contact Us</a>
        </nav>
    </div>
</header>

<body>

</body>

</html>