.navbar {
    position: sticky;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    padding: 20px 48px 20px 64px;
    display: flex;
    justify-content: space-between;
    gap: 160px;
}

@media screen and (max-width: 1024px) {
    .navbar {
        flex-direction: column;
        justify-content: start;
        gap: 0;
    }
}

.diligens {
    display: flex;
    align-items: center;
    gap: 16px;
}

.diligens h2 {
    margin: 0;
    margin-top: 10px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -0.05em;
    color: #1F821A;
}

.right-section-button {
    display: none;
    border: unset;
}

@media screen and (max-width: 1024px) {
    .navbar > div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .right-section-button {
        display: inline-block;
        background-color: white;
        border: 2px solid #3CA629;
        border-radius: 8px;
        padding: 8px 12px;
        height: min-content;
        transition: background-color 0.2s ease;
    }

    .right-section-button:hover {
        background-color: #e0e0e0;
    }

    .right-section-button img {
        width: 32px;
    }
}

.right-section-links {
    display: flex;
    align-items: center;
    padding-top: 10px;
    gap: clamp(24px, 2vw, 64px);
}

@media screen and (max-width: 1024px) {
    .right-section-links {
        display: none;   
    }

    .active {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 16px;
    }
}

/* Stories */
.link {
    text-align: right;
    text-decoration: none;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.05em;

    /* Green/700 */
    color: #1F821A;
    transition: color 0.2s ease;
}

.link:hover {
    color: #46c33f;
}

.selected {
    color: #46c33f;
}