@media screen and (min-width: 1280px) {
    .services-section-first {
        width: 40%
    }
}

.illustration {
    display: inline-block;
}

.divider {
    height: 26px;
    margin: 60px auto;
}

@media screen and (max-width: 1200px) {
    .divider {
        margin: 7vh;
    }
}

/*** FIRST ***/
.first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15vh;
    padding: 82.5px 120px;
}

.first-section img {
    width: 40vw;
}

.first-section-header {
    font-size: clamp(40px, 3.5vw, 60px);
    margin-bottom: clamp(8px, 0.625vw, 12px);
}

.first-section p {
    font-size: clamp(18px, 1.6vw, 28px);
}

@media screen and (max-width: 1200px) {
    .first-section {
        padding: 0;
        padding-top: 10vh;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 20px;
        height: max(400px, 72svh);
    }

    .first-section-header {
        font-size: clamp(28px, 5vw,  60px);
        margin-bottom: clamp(5.6px, 1vw, 12px);
    }

    .first-section img {
        max-height: 50%;
        width: clamp(260px, 47vmax, 600px);
    }

    .first-section p {
        font-size: clamp(14px, 2.33vw, 28px);
    }
}

/*** SERVICES ***/
.services-section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 60px 12% 20px 14%;
}

.services-section-header-div {
    display: flex;
    margin-bottom: 60px;
    gap: 45px;
}

.services-section-header {
    font-size: clamp(40px, 3.5vw, 60px);
    margin: auto 0;
}

.services-section-caption {
    font-size: clamp(18px, 1.6vw, 28px);
    text-align: justify;
    margin: 0 0 70px;
}

.services-section .primary-button {
    font-size: clamp(20px, 2vw, 28px);
    padding: 24px 40px;
}

.services-section-img {
    width: 36vw;
}

@media screen and (max-width: 1200px) {
    .services-section {
        padding: 0;
        margin-top: 7vmin;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 20px;
        height: max(400px, 76svh);
    }

    .services-section-img {
        max-height: 42%;
        width: clamp(260px, 45vmax, 400px);
    }

    .services-section-first {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        order: 2;
    }

    .services-section-header-div img {
        display: none;
    }

    .services-section-header-div {
        margin: 0;
        margin-bottom: clamp(5.6px, 1vw, 12px);
        gap: 0;
    }

    .services-section-header {
        font-size: clamp(28px, 4.25vw,  48px);
        margin: 0;
    }

    .services-section-caption {
        font-size: clamp(14px, 2.33vw, 28px);
        text-align: center;
        margin: 0;
        margin-bottom: 36px;
        width: clamp(260px, 52vmax, 600px);
    }

    .services-section-caption br {
        display: none;
    }

    .services-section .primary-button {
        padding: clamp(16px, 2vmax, 24px) 28px;
        font-size: clamp(12px, 2vmax, 20px);
    }
}

/*** STORIES ***/
.stories-section {
    margin-bottom: 40px;
}

.stories-section-header {
    margin: 0 0 12px;
}

.stories-section-caption {
    margin: 0 0 70px;
}

.stories-section-stories {
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 80px;
}

/*** NEWS ***/
.news-section {
    padding: 64px 120px 132px;
}

.news-section-header {
    margin-right: auto;
}

.news-section-article-container {
    justify-content: space-between;
}

/*** ROOM ***/
.room-section {
    padding: 109px 0;
    margin-bottom: 160px;
    background-color: #1F821A;
}

.room-section-header {
    margin: 0 0 16px;
}

.room-section-caption {
    margin: 0 0 60px;
}

.secondary-button {
    padding: 24px 132px;
    border-radius: 24px;
    background-color: white;
    transition: all 0.3s ease;
}

.secondary-button:hover {
    background-color: #E0E0E0;
}

/*** CONTACT US ***/
.contact-section-home {
    padding: 0 200px;
    margin-bottom: 96px;
}