.story-section {
    padding: 100px 0 240px 0;
}

.story-section-left {
    flex: 5;
    /* padding-right: 46px; */
    align-items: end;
}

.story-section-image-text {
    position: absolute;
    text-align: right;
    width: 57%;
    right: 36px;
    bottom: 72px; 
}

.story-section-image-company {
    padding: 14px 40px;
    position: absolute;
    border-radius: 40px;
    bottom: -40px;
    right: 68px;
}

.story-section-image-company-text {
    font-size: 45px;
}

.story-section-caption {
    text-align: right;
    width: 80%;
}

.story-section-right {
    flex: 3;
    margin: 40px 100px 0 72px;
}

.story-section-quote {
    font-style: italic;
    margin-bottom: 24px;
}

.story-section-person {
    margin-bottom: 132px;
}

.story-section-person-image {
    height: 70px;
    width: 70px;
    margin-right: 24px;
}

.story-section-service-provided {
    display: inline-block;
    margin-bottom: 36px;
}

.story-section-services {
    font-family: IBM Plex Sans;
    display: block;
    letter-spacing: 0.1em;
}