h2 {
    margin: 60px 0 60px 100px;
}

#book-section {
    padding: 0 8% 80px 100px;
    gap: 7%;
    transition: opacity 0.4s ease;
}

.no-show {
    opacity: 0;
}

.show {
    opacity: 1;
}

.book-section-left img {
    width: 38vw;
    margin-bottom: 60px;
    border-radius: 24px;
    box-shadow: 0px 8px 20px 3px rgba(0, 0, 0, 0.05);
}

.book-section-room-details {
    align-items: stretch;
    gap: 24px;
}

.book-section-room-details div {
    justify-content: space-between;
}

.book-section-right {
    width: 100%;
}

#book-section-form {
    margin: 0 auto;
    max-width: 500px;
}

.book-section-form-button {
    margin-top: 100px;
    width: 100%;
}

#modal-container {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000A0;
    transition: opacity 0.3s ease;
}

.no-show-modal {
    opacity: 0;
    pointer-events: none;
}

.show-modal {
    opacity: 1;
    pointer-events: all;
}

#modal {
    border-radius: 42px;
    margin: 15vh auto auto;
    padding: 32px 32px 45px;
    background-color: white;
    width: 35vw;
}

.modal-line {
    height: 3px;
    background-color: #C7C7C7;
    margin: 28px 0 36px 0;
}

.modal-content {
    padding: 0 40px;
}

.modal-content p:nth-child(1) {
    margin: 0 0 18px 0;
}

.modal-content p:nth-child(2) {
    margin: 0 0 52px 0;
}

.modal-button-container {
    justify-content: space-evenly;
}

.modal-button-container button {
    border: unset;
    border-radius: 55px;
    font-size: 28px;
    padding: 9px 0;
    width: 12vw;
    transition: background-color 0.2s ease;
}

.modal-button-container button:nth-child(1) {
    background-color: #D9D9D9;
}

.modal-button-container button:nth-child(1):hover {
    background-color: #C7C7C7;
}

.modal-button-container button:nth-child(2) {
    color: white;
    background-color: #1F821A;
}

.modal-button-container button:nth-child(2):hover {
    background-color: #1C610F;
}
