@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");


/***** COLORS *****/
:root {
    /* Black */
    --black: #1b1b1b;
    /* White */
    --white: #ffffff;
    /* Neutral */
    --neutral100: #fafafa;
    --neutral200: #e0e0e0;
    --neutral300: #c7c7c7;
    --neutral400: #adadad;
    --neutral500: #919191;
    --neutral600: #787878;
    --neutral700: #5e5e5e;
    --neutral800: #454545;
    --neutral900: #292929;
    /* Red */
    --red100: #ffeded;
    --red200: #f2bbbb;
    --red300: #e58c8c;
    --red400: #d96262;
    --red500: #cb3c3c;
    --red600: #a62828;
    --red700: #801717;
    --red800: #5c0b0b;
    --red900: #360303;
    /* Green */
    --green100: #defadd;
    --green200: #b3edaf;
    --green300: #8be386;
    --green400: #64d65e;
    --green500: #45ca3d;
    --green600: #3ca629;
    --green700: #1f821a;
    --green800: #1c610f;
    --green900: #093e06;
    /* Yellow */
    --yellow100: #faf8d5;
    --yellow200: #f2f0a7;
    --yellow300: #ebe77f;
    --yellow400: #e3d359;
    --yellow500: #dbd536;
    --yellow600: #b2ae20;
    --yellow700: #878310;
    --yellow800: #5e5b06;
    --yellow900: #343200;
    /* Blue */
    --blue100: #eff9ff;
    --blue200: #c6e5f7;
    --blue300: #9dd0ed;
    --blue400: #77bde5;
    --blue500: #53a9db;
    --blue600: #3586b5;
    --blue700: #1d648c;
    --blue800: #0d4463;
    --blue900: #03273c;
}

.color-black {
    color: var(--black);
}

.color-white {
    color: var(--white);
}

.color-green-100 {
    color: var(--green100)
}

.color-green-200 {
    color: var(--green200)
}

.color-green-300 {
    color: var(--green300)
}

.color-green-400 {
    color: var(--green400)
}

.color-green-500 {
    color: var(--green500)
}

.color-green-600 {
    color: var(--green600)
}

.color-green-700 {
    color: var(--green700)
}

.color-green-800 {
    color: var(--green800)
}

.color-green-900 {
    color: var(--green900)
}

.color-red-100 {
    color: var(--red100)
}

.color-red-200 {
    color: var(--red200)
}

.color-red-300 {
    color: var(--red300)
}

.color-red-400 {
    color: var(--red400)
}

.color-red-500 {
    color: var(--red500)
}

.color-red-600 {
    color: var(--red600)
}

.color-red-700 {
    color: var(--red700)
}

.color-red-800 {
    color: var(--red800)
}

.color-red-900 {
    color: var(--red900)
}

.color-blue-100 {
    color: var(--blue100)
}

.color-blue-200 {
    color: var(--blue200)
}

.color-blue-300 {
    color: var(--blue300)
}

.color-blue-400 {
    color: var(--blue400)
}

.color-blue-500 {
    color: var(--blue500)
}

.color-blue-600 {
    color: var(--blue600)
}

.color-blue-700 {
    color: var(--blue700)
}

.color-blue-800 {
    color: var(--blue800)
}

.color-blue-900 {
    color: var(--blue900)
}

.color-yellow-100 {
    color: var(--yellow100)
}

.color-yellow-200 {
    color: var(--yellow200)
}

.color-yellow-300 {
    color: var(--yellow300)
}

.color-yellow-400 {
    color: var(--yellow400)
}

.color-yellow-500 {
    color: var(--yellow500)
}

.color-yellow-600 {
    color: var(--yellow600)
}

.color-yellow-700 {
    color: var(--yellow700)
}

.color-yellow-800 {
    color: var(--yellow800)
}

.color-yellow-900 {
    color: var(--yellow900)
}

.color-neutral-100 {
    color: var(--neutral100)
}

.color-neutral-200 {
    color: var(--neutral200)
}

.color-neutral-300 {
    color: var(--neutral300)
}

.color-neutral-400 {
    color: var(--neutral400)
}

.color-neutral-500 {
    color: var(--neutral500)
}

.color-neutral-600 {
    color: var(--neutral600)
}

.color-neutral-700 {
    color: var(--neutral700)
}

.color-neutral-800 {
    color: var(--neutral800)
}

.color-neutral-900 {
    color: var(--neutral900)
}

.bg-color-black {
    background-color: var(--black)
}

.bg-color-white {
    background-color: var(--white);
}

.bg-color-green-100 {
    background-color: var(--green100)
}

.bg-color-green-200 {
    background-color: var(--green200)
}

.bg-color-green-300 {
    background-color: var(--green300)
}

.bg-color-green-400 {
    background-color: var(--green400)
}

.bg-color-green-500 {
    background-color: var(--green500)
}

.bg-color-green-600 {
    background-color: var(--green600)
}

.bg-color-green-700 {
    background-color: var(--green700)
}

.bg-color-green-800 {
    background-color: var(--green800)
}

.bg-color-green-900 {
    background-color: var(--green900)
}

.bg-color-red-100 {
    background-color: var(--red100)
}

.bg-color-red-200 {
    background-color: var(--red200)
}

.bg-color-red-300 {
    background-color: var(--red300)
}

.bg-color-red-400 {
    background-color: var(--red400)
}

.bg-color-red-500 {
    background-color: var(--red500)
}

.bg-color-red-600 {
    background-color: var(--red600)
}

.bg-color-red-700 {
    background-color: var(--red700)
}

.bg-color-red-800 {
    background-color: var(--red800)
}

.bg-color-red-900 {
    background-color: var(--red900)
}

.bg-color-yellow-100 {
    background-color: var(--yellow100)
}

.bg-color-yellow-200 {
    background-color: var(--yellow200)
}

.bg-color-yellow-300 {
    background-color: var(--yellow300)
}

.bg-color-yellow-400 {
    background-color: var(--yellow400)
}

.bg-color-yellow-500 {
    background-color: var(--yellow500)
}

.bg-color-yellow-600 {
    background-color: var(--yellow600)
}

.bg-color-yellow-700 {
    background-color: var(--yellow700)
}

.bg-color-yellow-800 {
    background-color: var(--yellow800)
}

.bg-color-yellow-900 {
    background-color: var(--yellow900)
}

.bg-color-blue-100 {
    background-color: var(--blue100)
}

.bg-color-blue-200 {
    background-color: var(--blue200)
}

.bg-color-blue-300 {
    background-color: var(--blue300)
}

.bg-color-blue-400 {
    background-color: var(--blue400)
}

.bg-color-blue-500 {
    background-color: var(--blue500)
}

.bg-color-blue-600 {
    background-color: var(--blue600)
}

.bg-color-blue-700 {
    background-color: var(--blue700)
}

.bg-color-blue-800 {
    background-color: var(--blue800)
}

.bg-color-blue-900 {
    background-color: var(--blue900)
}

.bg-color-neutral-100 {
    background-color: var(--neutral100)
}

.bg-color-neutral-200 {
    background-color: var(--neutral200)
}

.bg-color-neutral-300 {
    background-color: var(--neutral300)
}

.bg-color-neutral-400 {
    background-color: var(--neutral400)
}

.bg-color-neutral-500 {
    background-color: var(--neutral500)
}

.bg-color-neutral-600 {
    background-color: var(--neutral600)
}

.bg-color-neutral-700 {
    background-color: var(--neutral700)
}

.bg-color-neutral-800 {
    background-color: var(--neutral800)
}

.bg-color-neutral-900 {
    background-color: var(--neutral900)
}

/****** FONTS *******/

/* WEIGHTS */
.text-style-weight-normal {
    font-weight: 400
}

.text-style-weight-medium {
    font-weight: 500;
}

.text-style-weight-semibold {
    font-weight: 600;
}

.text-style-weight-bold {
    font-weight: 700;
}

/* SIZES */
.text-style-size-112 {
    font-size: 112px;
}

.text-style-size-80 {
    font-size: 80px;
}

.text-style-size-60 {
    font-size: 60px;
}

.text-style-size-48 {
    font-size: 48px;
}

.text-style-size-36 {
    font-size: 36px;
}

.text-style-size-28 {
    font-size: 28px;
}

.text-style-size-24 {
    font-size: 24px;
}

.text-style-size-22 {
    font-size: 22px;
}

.text-style-size-20 {
    font-size: 20px;
}

.text-style-size-18 {
    font-size: 18px;
}

.text-style-size-16 {
    font-size: 16px;
}

.text-style-size-14 {
    font-size: 14px;
}

.text-style-size-12 {
    font-size: 12px;
}

.text-style-align-justify {
    text-align: justify;
}

.text-style-align-center {
    text-align: center;
}

/* ITALIC */
.text-style-italic {
    font-style: italic;
}

/* DISPLAY  */
.text-style-display {
    font-family: IBM Plex Sans;
    line-height: normal;
    letter-spacing: -0.04em;
}

/* HEADLINE */
.text-style-headline {
    font-family: IBM Plex Sans;
    line-height: normal;
    letter-spacing: -0.04em;
}

/* TITLE */
.text-style-title {
    font-family: IBM Plex Sans;
    line-height: normal;
    letter-spacing: -0.04em;
}

/* BODY */
.text-style-body {
    font-family: Zilla Slab;
    line-height: 120%;
    letter-spacing: -0.02em;
}

.text-style-label {
    font-family: IBM Plex Sans;
    line-height: normal;
    letter-spacing: -0.04em;
}

/*** COMMON ***/
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

body>div {
    flex: 1;
}

.flex-container-row {
    display: flex;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}

.flex-expand {
    flex-grow: 1;
}

.margin-none {
    margin: 0;
}

.margin-auto {
    margin: auto;
}

.margin-vertical-auto {
    margin-top: auto;
    margin-bottom: auto;
}