/*** CONTACT ***/
.contact-section {
    padding: 160px 200px 96px;
}

.contact-section-header {
    margin: 0 0 24px;
}

.contact-section-caption {
    margin: 0 0 48px;
}

.contact-section-form {
    margin-bottom: 84px;
}

.contact-section-form-message {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 48px;
}

.contact-section-form-details {
    flex-grow: 1;
}

.textfield-label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #454545;
    margin-bottom: 5px;
}

.textfield {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    display: block;
    padding: 14px 20px;
    margin-bottom: 24px;
    border-radius: 12px;
    border: 1.5px solid #ADADAD;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.textfield#message {
    flex-grow: 1;
    height: auto;
}


.textfield::placeholder {
    font-size: 18px;
    font-weight: 500;
    color: #ADADAD;
}