/*** CONTACT ***/
.contact-section-header {
    margin: 0 0 24px;
}

.contact-section-caption {
    margin: 0 0 48px;
}

.contact-section-form > div {
    margin-bottom: 84px;
}

.contact-section-form-message {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 48px;
}

.contact-section-form-details {
    flex-grow: 1;
}

#message {
    flex-grow: 1;
    height: auto;
}