@media screen and (min-width: 1280px) {
    .second-section-first {
        width: 40%
    }
}

.flex-container-row {
    display: flex;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}

.flex-expand {
    flex-grow: 1;
}

.margin-none {
    margin: 0;
}

.margin-auto {
    margin: auto;
}

.margin-vertical-auto {
    margin-top: auto;
    margin-bottom: auto;
}


/** SPECIFIC CSS **/
.illustration {
    display: inline-block;
}

.divider {
    height: 26px;
    margin: 60px auto 60px
}


.first-section {
    padding: 82.5px;
    padding-left: 10%;
    padding-right: 12%;
}

.second-section {
    padding: 60px 12% 20px 14%;
}

.second-section-header-div {
    margin-bottom: 60px;
}

.second-section-header {
    margin-left: 45px;
}

.second-section-caption {
    margin-bottom: 70px;
}

.third-section {
    margin-bottom: 80px;
}

.third-section-header {
    margin-bottom: 12px;
}

.third-section-caption {
    margin-bottom: 60px;
}

.third-section-stories {
    margin-bottom: 60px;
}