@media screen and (min-width: 1280px) {
    .second-section-first {
        width: 39%
    }
}

.center {
    text-align: center;
}

.flex-container-row {
    display: flex;
}

.flex-expand {
    flex-grow: 1;
}

.margin-none {
    margin: 0;
}

.margin-auto {
    margin: auto;
}

.margin-vertical-auto {
    margin-top: auto;
    margin-bottom: auto;
}

/** SPECIFIC CSS **/
.illustration {
    display: inline-block;
}

.first-section {
    padding: 82.5px;
    padding-left: 10%;
    padding-right: 12%;
}

.second-section {
    padding-top: 60px;
    padding-left: 14%;
    padding-right: 12%;
    padding-bottom: 135px;
}