.flex-container-row {
    display: flex;
}

.flex-expand {
    flex-grow: 1;
}

.margin-none {
    margin: 0;
}

.margin-auto {
    margin: auto;
}

/** SPECIFIC CSS **/
.illustration {
    display: inline-block;
}

.first-section {
    padding: 82.5px;
    padding-left: 92px;
    padding-right: 113px;
}
